*,
::before,
::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}

.wrapper {
    max-width: 50%;
    margin: 0 auto;
}

.header {
    color: rgb(58, 52, 52);
    font-size: 3em;
}
.accordion{
    color: rgb(71, 132, 159);
    font-size: 2em;
}

.accordion-item {
    background-color: #eee;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    outline: none;
    
}

.accordion:hover {
    color: black;
}

.icon {
   display: none;

}
.accordion-item_input {
    opacity: 0;
    
}


.accordion-item_trigger {
    cursor: pointer;
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 2px solid rgb(232, 223, 223);
    
}



.accordion-item_content {
    display: none;
    padding: 20px;
    overflow: hidden;
    transition: 1s;
}

.card {
    width: 50vh;
    height: 50vh;
    
}

.accordion-item_input:checked ~ .accordion-item_trigger {
    color: rgb(71, 132, 159);
    border-bottom: 0;
   
}


.accordion-item_input:checked ~ .accordion-item_content {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid gray;
    border-top: 0;
    animation: slidein 0.5s forwards;
}
.accordion-item_input:hover ~ .accordion-item_content {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid gray;
    border-top: 0;
    
}

